<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Magelearn::top_level" title="Seller" module="I95dev_Dummyproject" sortOrder="51" resource="Magento_Backend::content"/>
		<add id="I95dev_Dummyproject::manage_mlcustomform" title="Seller Form" module="I95dev_Dummyproject" sortOrder="20" resource="I95dev_Dummyproject::manage_mlcustomform" parent="Magelearn::top_level" action="mladmincustomform/customform"/>
	</menu>
</config>
